body{
  background-color: #F8C7CC;
}
h1{
  font-size: 400%;
  color: #ED217C;
  font-family: "Papyrus";
}
p{
  font-size: 200%;
  color: #ED217C
}
img{
  border-style: ridge;
  border-color: #ED217C;
}
ul{
  text-align: center;
  list-style-type: none;
  font-family: "papyrus";
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 10px;
  color: #ED217C;
  border:ridge;
}
li a:hover{
  background-color: #FF7B9C;
}
